/*DISEÑO DEMÁS PAGINAS*/
/*DATOS*/
body {margin: 0; padding: 0; border: 0;}
.datos{
    background-color:#BFD8D2;
   
    align-content: center;
    align-items: center;
    text-align: center;
    width:100%;
    
    }
    .configuracion {
        background-color:#BFD8D2;
        text-align: center;

    }
    /*HIPERVINCULOS*/
    a { color: inherit; }
/*MENÚ*/    
    .columna {
        font-family:courier,arial,helvética;
        width:20%;
        padding: 0;
        border: 0;
        margin: 0%;
        color:rgb(0, 0, 0);
        align-items: center;
        text-align: center;
        line-height: 100px;
        font-weight: bold; 
    }

    .imagencolumna{
        width: 20%;
        padding: 0;
        margin: 0;
        align-items: center;
        text-align: center;
    }

    .imagencolumna img{
        padding: 0;
        border: 0;
        margin: 0%;
        height: 100px;
        
    }
    .columna:hover {color:#DF744A; text-decoration: underline;
    }
    .contenedor {
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
        display: flex;
    }
        /*FONDO*/
    .fondo {
        background-color: #EDEDED;
        margin: 0; padding: 0; border: 0;
    }
    .fondo2 {
        margin: 0; padding: 0; border: 0;
        background-color: #ffffff; 
        align-items: center;
        }
/*IMAGEN*/
.FOTO{
    width: 100%;
    padding: 0;
    border: 0;
    margin: 0;
}
.FOTO img{
    width: 100%;
    padding: 0;
    border: 0;
    margin: 0;
}
 /*BREVE DE QUIENOS SOMOS*/
 .contenedor2 {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    text-align: center;
    
}
.imagencolumna2{
    width: 50%;
    padding: 0;
    margin: 0;
    align-items: center;
    text-align: center;
}

.imagencolumna2 img{
    padding: 0;
    border: 0;
    margin: 0%;
    width: 100%;
    
}
.columna2 {
    font-family:courier,arial,helvética;
    width:50%;
    padding: 0;
    border: 0;
    margin: 0%;
    color:rgb(0, 0, 0);
    align-items: center;
    text-align: center;
    shape-margin: 100%;
}
@media screen and (max-width: 800px){
.contenedor2 {
    flex-direction: column;
}
.p {
    font-size: 100%;
}
.imagencolumna2 {
    width: 50%;
}
}


.temas {
font-family:courier,arial,helvética;
margin: 0 auto;
width:90%;
align-items: center;
text-align: center;
}


/*SOBRE NOSOTROS*/

p{
    font-size: 110%;
}


/*FOTO FINAL*/
 .imagenutl {
    width: 40%;
    padding: 0;
    border: 0;
    margin: 0;
    display: block; margin: auto;
    
}
.imagenutl img{
    width: 100%;
    padding: 0;
    border: 0;
    margin: 0; 

    
}